<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Updation Data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }

      h1 {
        text-align: center;
      }
      .userData {
        max-width: 60%;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .userData h2 {
        margin-top: 0;
        text-align: center;
      }

      table {
        width: 90%;
        border-collapse: collapse;
      }

      table th,
      table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      table th {
        background-color: #f2f2f2;
      }

      table tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      button{
        border: none;
        background-color: rgb(53, 29, 29);
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.5rem;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Selection And Update Data</h1>
    <div class="userData">
      <hr />
      <h2>Your Friend List</h2>
      <table>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Operation</th>
        </tr>
        <% for(name of names) { %>
        <tr>
          <td><%= name.name %></td>
          <td><%= name.email %></td>
          <td><%= name.password %></td>
          <td><form action="/friend/<%= name._id %>">
            <button>Edit</button>
          </form></td>
        </tr>
        <%}%>
      </table>
    </div>
  </body>
</html>
